@import "../../src/styles/variables/variables";
@import "../../src/styles/variables/colors";

.bound-main {
  display: flex;
  flex-direction: row;
  background: $Khaki;
}

.bound-menu {
  flex: 1;
}

.bound-content {
  flex: 5;
  background: $white;
  border-radius: 3px;
  margin-top: getHeightScreen(0.12);
  margin-bottom: getHeightScreen(0.03);
  margin-right: getHeightScreen(0.03);
}
