@import "../styles/variables/colors";

$header-height: 20vh;
$header-width: 100vw;

$sidebar-height: 80vh;
$sidebar-width: 20vw;

$main-height: calc(80vh*0.9);
$main-width: null;

$footer-height: calc(80vh*0.1);
$footer-width: 80vw;

.header {
  position: sticky;
  top: 0;
  grid-area: header;
  min-height: $header-height;
  background: $red !important;
}
.sidebar {
  grid-area: sidebar;
  min-width: $sidebar-width;
  min-height: $sidebar-height;
  background: $Yellow !important;
}

.main {
  grid-area: main;
  min-width: 80vw;
  min-height: $main-height;
  background: $DarkGrey !important;
  position: relative;
  left: 0;
  z-index: -1;
}

.footer {
  grid-area: footer;
  min-width: $footer-width;
  min-height: $footer-height;
  background: $Green !important;
  position: relative;
  left: 0;
}

.grid-container-layout {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-areas:
          'header header'
          'sidebar main'
          'sidebar footer';
  overflow-x: hidden;
}
