@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
/*  google font */
$ABeeZee:"ABeeZee";
$Abel:"Abel";
$AbhayaLibre:"Abhaya Libre";
$AbrilFatface:"Abril Fatface";
$Aclonica:"Aclonica";
$Acme:"Acme";
$Actor:"Actor";
$Adamina:"Adamina";
$AdventPro:"Advent Pro";
$AguafinaScript:"Aguafina Script";
$Akronim:"Akronim";
$Aladin:"Aladin";
$Aldrich:"Aldrich";
$Alef:"Alef";
$Alegreya:"Alegreya";
$AlegreyaSC:"Alegreya SC";
$AlegreyaSans:"Alegreya Sans";
$AlegreyaSansSC:"Alegreya Sans SC";
$Aleo:"Aleo";
$AlexBrush:"Alex Brush";
$AlfaSlabOne:"Alfa Slab One";
$Alice:"Alice";
$Alike:"Alike";
$AlikeAngular:"Alike Angular";
$Allan:"Allan";
$Allerta:"Allerta";
$AllertaStencil:"Allerta Stencil";
$Allura:"Allura";
$Almarai:"Almarai";
$Almendra:"Almendra";
$AlmendraDisplay:"Almendra Display";
$AlmendraSC:"Almendra SC";
$Amarante:"Amarante";
$Amaranth:"Amaranth";
$AmaticSC:"Amatic SC";
$Amethysta:"Amethysta";
$Amiko:"Amiko";
$Amiri:"Amiri";
$Amita:"Amita";
$Anaheim:"Anaheim";
$Andada:"Andada";
$Andika:"Andika";
$Angkor:"Angkor";
$AnnieUseYourTelescope:"Annie Use Your Telescope";
$AnonymousPro:"Anonymous Pro";
$Antic:"Antic";
$AnticDidone:"Antic Didone";
$AnticSlab:"Antic Slab";
$Anton:"Anton";
$Arapey:"Arapey";
$Arbutus:"Arbutus";
$ArbutusSlab:"Arbutus Slab";
$ArchitectsDaughter:"Architects Daughter";
$Archivo:"Archivo";
$ArchivoBlack:"Archivo Black";
$ArchivoNarrow:"Archivo Narrow";
$ArefRuqaa:"Aref Ruqaa";
$ArimaMadurai:"Arima Madurai";
$Arimo:"Arimo";
$Arizonia:"Arizonia";
$Armata:"Armata";
$Arsenal:"Arsenal";
$Artifika:"Artifika";
$Arvo:"Arvo";
$Arya:"Arya";
$Asap:"Asap";
$AsapCondensed:"Asap Condensed";
$Asar:"Asar";
$Asset:"Asset";
$Assistant:"Assistant";
$Astloch:"Astloch";
$Asul:"Asul";
$Athiti:"Athiti";
$Atma:"Atma";
$AtomicAge:"Atomic Age";
$Aubrey:"Aubrey";
$Audiowide:"Audiowide";
$AutourOne:"Autour One";
$Average:"Average";
$AverageSans:"Average Sans";
$AveriaGruesaLibre:"Averia Gruesa Libre";
$AveriaLibre:"Averia Libre";
$AveriaSansLibre:"Averia Sans Libre";
$AveriaSerifLibre:"Averia Serif Libre";
$B612:"B612";
$B612Mono:"B612 Mono";
$BadScript:"Bad Script";
$Bahiana:"Bahiana";
$Bahianita:"Bahianita";
$BaiJamjuree:"Bai Jamjuree";
$Baloo:"Baloo";
$BalooBhai:"Baloo Bhai";
$BalooBhaijaan:"Baloo Bhaijaan";
$BalooBhaina:"Baloo Bhaina";
$BalooChettan:"Baloo Chettan";
$BalooDa:"Baloo Da";
$BalooPaaji:"Baloo Paaji";
$BalooTamma:"Baloo Tamma";
$BalooTammudu:"Baloo Tammudu";
$BalooThambi:"Baloo Thambi";
$Balthazar:"Balthazar";
$Bangers:"Bangers";
$Barlow:"Barlow";
$BarlowCondensed:"Barlow Condensed";
$BarlowSemiCondensed:"Barlow Semi Condensed";
$Barriecito:"Barriecito";
$Barrio:"Barrio";
$Basic:"Basic";
$Battambang:"Battambang";
$Baumans:"Baumans";
$Bayon:"Bayon";
$BeVietnam:"Be Vietnam";
$Belgrano:"Belgrano";
$Bellefair:"Bellefair";
$Belleza:"Belleza";
$BenchNine:"BenchNine";
$Bentham:"Bentham";
$BerkshireSwash:"Berkshire Swash";
$BethEllen:"Beth Ellen";
$Bevan:"Bevan";
$BigShouldersDisplay:"Big Shoulders Display";
$BigShouldersText:"Big Shoulders Text";
$BigelowRules:"Bigelow Rules";
$BigshotOne:"Bigshot One";
$Bilbo:"Bilbo";
$BilboSwashCaps:"Bilbo Swash Caps";
$BioRhyme:"BioRhyme";
$BioRhymeExpanded:"BioRhyme Expanded";
$Biryani:"Biryani";
$Bitter:"Bitter";
$BlackAndWhitePicture:"Black And White Picture";
$BlackHanSans:"Black Han Sans";
$BlackOpsOne:"Black Ops One";
$Blinker:"Blinker";
$Bokor:"Bokor";
$Bonbon:"Bonbon";
$Boogaloo:"Boogaloo";
$BowlbyOne:"Bowlby One";
$BowlbyOneSC:"Bowlby One SC";
$Brawler:"Brawler";
$BreeSerif:"Bree Serif";
$BubblegumSans:"Bubblegum Sans";
$BubblerOne:"Bubbler One";
$Buda:"Buda";
$Buenard:"Buenard";
$Bungee:"Bungee";
$BungeeHairline:"Bungee Hairline";
$BungeeInline:"Bungee Inline";
$BungeeOutline:"Bungee Outline";
$BungeeShade:"Bungee Shade";
$Butcherman:"Butcherman";
$ButterflyKids:"Butterfly Kids";
$Cabin:"Cabin";
$CabinCondensed:"Cabin Condensed";
$CabinSketch:"Cabin Sketch";
$CaesarDressing:"Caesar Dressing";
$Cagliostro:"Cagliostro";
$Cairo:"Cairo";
$Calligraffitti:"Calligraffitti";
$Cambay:"Cambay";
$Cambo:"Cambo";
$Candal:"Candal";
$Cantarell:"Cantarell";
$CantataOne:"Cantata One";
$CantoraOne:"Cantora One";
$Capriola:"Capriola";
$Cardo:"Cardo";
$Carme:"Carme";
$CarroisGothic:"Carrois Gothic";
$CarroisGothicSC:"Carrois Gothic SC";
$CarterOne:"Carter One";
$Catamaran:"Catamaran";
$Caudex:"Caudex";
$Caveat:"Caveat";
$CaveatBrush:"Caveat Brush";
$CedarvilleCursive:"Cedarville Cursive";
$CevicheOne:"Ceviche One";
$ChakraPetch:"Chakra Petch";
$Changa:"Changa";
$ChangaOne:"Changa One";
$Chango:"Chango";
$Charm:"Charm";
$Charmonman:"Charmonman";
$Chathura:"Chathura";
$ChauPhilomeneOne:"Chau Philomene One";
$ChelaOne:"Chela One";
$ChelseaMarket:"Chelsea Market";
$Chenla:"Chenla";
$CherryCreamSoda:"Cherry Cream Soda";
$CherrySwash:"Cherry Swash";
$Chewy:"Chewy";
$Chicle:"Chicle";
$Chilanka:"Chilanka";
$Chivo:"Chivo";
$Chonburi:"Chonburi";
$Cinzel:"Cinzel";
$CinzelDecorative:"Cinzel Decorative";
$ClickerScript:"Clicker Script";
$Coda:"Coda";
$CodaCaption:"Coda Caption";
$Codystar:"Codystar";
$Coiny:"Coiny";
$Combo:"Combo";
$Comfortaa:"Comfortaa";
$ComingSoon:"Coming Soon";
$ConcertOne:"Concert One";
$Condiment:"Condiment";
$Content:"Content";
$ContrailOne:"Contrail One";
$Convergence:"Convergence";
$Cookie:"Cookie";
$Copse:"Copse";
$Corben:"Corben";
$Cormorant:"Cormorant";
$CormorantGaramond:"Cormorant Garamond";
$CormorantInfant:"Cormorant Infant";
$CormorantSC:"Cormorant SC";
$CormorantUnicase:"Cormorant Unicase";
$CormorantUpright:"Cormorant Upright";
$Courgette:"Courgette";
$Cousine:"Cousine";
$Coustard:"Coustard";
$CoveredByYourGrace:"Covered By Your Grace";
$CraftyGirls:"Crafty Girls";
$Creepster:"Creepster";
$CreteRound:"Crete Round";
$CrimsonPro:"Crimson Pro";
$CrimsonText:"Crimson Text";
$CroissantOne:"Croissant One";
$Crushed:"Crushed";
$Cuprum:"Cuprum";
$CuteFont:"Cute Font";
$Cutive:"Cutive";
$CutiveMono:"Cutive Mono";
$DMSans:"DM Sans";
$DMSerifDisplay:"DM Serif Display";
$DMSerifText:"DM Serif Text";
$Damion:"Damion";
$DancingScript:"Dancing Script";
$Dangrek:"Dangrek";
$DarkerGrotesque:"Darker Grotesque";
$DavidLibre:"David Libre";
$DawningofaNewDay:"Dawning of a New Day";
$DaysOne:"Days One";
$Dekko:"Dekko";
$Delius:"Delius";
$DeliusSwashCaps:"Delius Swash Caps";
$DeliusUnicase:"Delius Unicase";
$DellaRespira:"Della Respira";
$DenkOne:"Denk One";
$Devonshire:"Devonshire";
$Dhurjati:"Dhurjati";
$DidactGothic:"Didact Gothic";
$Diplomata:"Diplomata";
$DiplomataSC:"Diplomata SC";
$DoHyeon:"Do Hyeon";
$Dokdo:"Dokdo";
$Domine:"Domine";
$DonegalOne:"Donegal One";
$DoppioOne:"Doppio One";
$Dorsa:"Dorsa";
$Dosis:"Dosis";
$DrSugiyama:"Dr Sugiyama";
$DuruSans:"Duru Sans";
$Dynalight:"Dynalight";
$EBGaramond:"EB Garamond";
$EagleLake:"Eagle Lake";
$EastSeaDokdo:"East Sea Dokdo";
$Eater:"Eater";
$Economica:"Economica";
$Eczar:"Eczar";
$ElMessiri:"El Messiri";
$Electrolize:"Electrolize";
$Elsie:"Elsie";
$ElsieSwashCaps:"Elsie Swash Caps";
$EmblemaOne:"Emblema One";
$EmilysCandy:"Emilys Candy";
$EncodeSans:"Encode Sans";
$EncodeSansCondensed:"Encode Sans Condensed";
$EncodeSansExpanded:"Encode Sans Expanded";
$EncodeSansSemiCondensed:"Encode Sans Semi Condensed";
$EncodeSansSemiExpanded:"Encode Sans Semi Expanded";
$Engagement:"Engagement";
$Englebert:"Englebert";
$Enriqueta:"Enriqueta";
$EricaOne:"Erica One";
$Esteban:"Esteban";
$EuphoriaScript:"Euphoria Script";
$Ewert:"Ewert";
$Exo:"Exo";
$Exo2:"Exo 2";
$ExpletusSans:"Expletus Sans";
$Fahkwang:"Fahkwang";
$FanwoodText:"Fanwood Text";
$Farro:"Farro";
$Farsan:"Farsan";
$Fascinate:"Fascinate";
$FascinateInline:"Fascinate Inline";
$FasterOne:"Faster One";
$Fasthand:"Fasthand";
$FaunaOne:"Fauna One";
$Faustina:"Faustina";
$Federant:"Federant";
$Federo:"Federo";
$Felipa:"Felipa";
$Fenix:"Fenix";
$FingerPaint:"Finger Paint";
$FiraCode:"Fira Code";
$FiraMono:"Fira Mono";
$FiraSans:"Fira Sans";
$FiraSansCondensed:"Fira Sans Condensed";
$FiraSansExtraCondensed:"Fira Sans Extra Condensed";
$FjallaOne:"Fjalla One";
$FjordOne:"Fjord One";
$Flamenco:"Flamenco";
$Flavors:"Flavors";
$Fondamento:"Fondamento";
$FontdinerSwanky:"Fontdiner Swanky";
$Forum:"Forum";
$FrancoisOne:"Francois One";
$FrankRuhlLibre:"Frank Ruhl Libre";
$FreckleFace:"Freckle Face";
$FrederickatheGreat:"Fredericka the Great";
$FredokaOne:"Fredoka One";
$Freehand:"Freehand";
$Fresca:"Fresca";
$Frijole:"Frijole";
$Fruktur:"Fruktur";
$FugazOne:"Fugaz One";
$GFSDidot:"GFS Didot";
$GFSNeohellenic:"GFS Neohellenic";
$Gabriela:"Gabriela";
$Gaegu:"Gaegu";
$Gafata:"Gafata";
$Galada:"Galada";
$Galdeano:"Galdeano";
$Galindo:"Galindo";
$GamjaFlower:"Gamja Flower";
$Gayathri:"Gayathri";
$GentiumBasic:"Gentium Basic";
$GentiumBookBasic:"Gentium Book Basic";
$Geo:"Geo";
$Geostar:"Geostar";
$GeostarFill:"Geostar Fill";
$GermaniaOne:"Germania One";
$Gidugu:"Gidugu";
$GildaDisplay:"Gilda Display";
$GiveYouGlory:"Give You Glory";
$GlassAntiqua:"Glass Antiqua";
$Glegoo:"Glegoo";
$GloriaHallelujah:"Gloria Hallelujah";
$GoblinOne:"Goblin One";
$GochiHand:"Gochi Hand";
$Gorditas:"Gorditas";
$GothicA1:"Gothic A1";
$GoudyBookletter1911:"Goudy Bookletter 1911";
$Graduate:"Graduate";
$GrandHotel:"Grand Hotel";
$GravitasOne:"Gravitas One";
$GreatVibes:"Great Vibes";
$Grenze:"Grenze";
$Griffy:"Griffy";
$Gruppo:"Gruppo";
$Gudea:"Gudea";
$Gugi:"Gugi";
$Gurajada:"Gurajada";
$Habibi:"Habibi";
$Halant:"Halant";
$HammersmithOne:"Hammersmith One";
$Hanalei:"Hanalei";
$HanaleiFill:"Hanalei Fill";
$Handlee:"Handlee";
$Hanuman:"Hanuman";
$HappyMonkey:"Happy Monkey";
$Harmattan:"Harmattan";
$HeadlandOne:"Headland One";
$Heebo:"Heebo";
$HennyPenny:"Henny Penny";
$HeptaSlab:"Hepta Slab";
$HerrVonMuellerhoff:"Herr Von Muellerhoff";
$HiMelody:"Hi Melody";
$Hind:"Hind";
$HindGuntur:"Hind Guntur";
$HindMadurai:"Hind Madurai";
$HindSiliguri:"Hind Siliguri";
$HindVadodara:"Hind Vadodara";
$HoltwoodOneSC:"Holtwood One SC";
$HomemadeApple:"Homemade Apple";
$Homenaje:"Homenaje";
$IBMPlexMono:"IBM Plex Mono";
$IBMPlexSans:"IBM Plex Sans";
$IBMPlexSansCondensed:"IBM Plex Sans Condensed";
$IBMPlexSerif:"IBM Plex Serif";
$IMFellDWPica:"IM Fell DW Pica";
$IMFellDWPicaSC:"IM Fell DW Pica SC";
$IMFellDoublePica:"IM Fell Double Pica";
$IMFellDoublePicaSC:"IM Fell Double Pica SC";
$IMFellEnglish:"IM Fell English";
$IMFellEnglishSC:"IM Fell English SC";
$IMFellFrenchCanon:"IM Fell French Canon";
$IMFellFrenchCanonSC:"IM Fell French Canon SC";
$IMFellGreatPrimer:"IM Fell Great Primer";
$IMFellGreatPrimerSC:"IM Fell Great Primer SC";
$Iceberg:"Iceberg";
$Iceland:"Iceland";
$Imprima:"Imprima";
$Inconsolata:"Inconsolata";
$Inder:"Inder";
$IndieFlower:"Indie Flower";
$Inika:"Inika";
$InknutAntiqua:"Inknut Antiqua";
$IrishGrover:"Irish Grover";
$IstokWeb:"Istok Web";
$Italiana:"Italiana";
$Italianno:"Italianno";
$Itim:"Itim";
$JacquesFrancois:"Jacques Francois";
$JacquesFrancoisShadow:"Jacques Francois Shadow";
$Jaldi:"Jaldi";
$JimNightshade:"Jim Nightshade";
$JockeyOne:"Jockey One";
$JollyLodger:"Jolly Lodger";
$Jomhuria:"Jomhuria";
$JosefinSans:"Josefin Sans";
$JosefinSlab:"Josefin Slab";
$JotiOne:"Joti One";
$Jua:"Jua";
$Judson:"Judson";
$Julee:"Julee";
$JuliusSansOne:"Julius Sans One";
$Junge:"Junge";
$Jura:"Jura";
$JustAnotherHand:"Just Another Hand";
$JustMeAgainDownHere:"Just Me Again Down Here";
$K2D:"K2D";
$Kadwa:"Kadwa";
$Kalam:"Kalam";
$Kameron:"Kameron";
$Kanit:"Kanit";
$Kantumruy:"Kantumruy";
$Karla:"Karla";
$Karma:"Karma";
$Katibeh:"Katibeh";
$KaushanScript:"Kaushan Script";
$Kavivanar:"Kavivanar";
$Kavoon:"Kavoon";
$KdamThmor:"Kdam Thmor";
$KeaniaOne:"Keania One";
$KellySlab:"Kelly Slab";
$Kenia:"Kenia";
$Khand:"Khand";
$Khmer:"Khmer";
$Khula:"Khula";
$KirangHaerang:"Kirang Haerang";
$KiteOne:"Kite One";
$Knewave:"Knewave";
$KoHo:"KoHo";
$Kodchasan:"Kodchasan";
$Kosugi:"Kosugi";
$KosugiMaru:"Kosugi Maru";
$KottaOne:"Kotta One";
$Koulen:"Koulen";
$Kranky:"Kranky";
$Kreon:"Kreon";
$Kristi:"Kristi";
$KronaOne:"Krona One";
$Krub:"Krub";
$KumarOne:"Kumar One";
$KumarOneOutline:"Kumar One Outline";
$Kurale:"Kurale";
$LaBelleAurore:"La Belle Aurore";
$Lacquer:"Lacquer";
$Laila:"Laila";
$LakkiReddy:"Lakki Reddy";
$Lalezar:"Lalezar";
$Lancelot:"Lancelot";
$Lateef:"Lateef";
$Lato:"Lato";
$LeagueScript:"League Script";
$LeckerliOne:"Leckerli One";
$Ledger:"Ledger";
$Lekton:"Lekton";
$Lemon:"Lemon";
$Lemonada:"Lemonada";
$LexendDeca:"Lexend Deca";
$LexendExa:"Lexend Exa";
$LexendGiga:"Lexend Giga";
$LexendMega:"Lexend Mega";
$LexendPeta:"Lexend Peta";
$LexendTera:"Lexend Tera";
$LexendZetta:"Lexend Zetta";
$LibreBarcode128:"Libre Barcode 128";
$LibreBarcode128Text:"Libre Barcode 128 Text";
$LibreBarcode39:"Libre Barcode 39";
$LibreBarcode39Extended:"Libre Barcode 39 Extended";
$LibreBarcode39ExtendedText:"Libre Barcode 39 Extended Text";
$LibreBarcode39Text:"Libre Barcode 39 Text";
$LibreBaskerville:"Libre Baskerville";
$LibreCaslonDisplay:"Libre Caslon Display";
$LibreCaslonText:"Libre Caslon Text";
$LibreFranklin:"Libre Franklin";
$LifeSavers:"Life Savers";
$LilitaOne:"Lilita One";
$LilyScriptOne:"Lily Script One";
$Limelight:"Limelight";
$LindenHill:"Linden Hill";
$Literata:"Literata";
$LiuJianMaoCao:"Liu Jian Mao Cao";
$Livvic:"Livvic";
$Lobster:"Lobster";
$LobsterTwo:"Lobster Two";
$LondrinaOutline:"Londrina Outline";
$LondrinaShadow:"Londrina Shadow";
$LondrinaSketch:"Londrina Sketch";
$LondrinaSolid:"Londrina Solid";
$LongCang:"Long Cang";
$Lora:"Lora";
$LoveYaLikeASister:"Love Ya Like A Sister";
$LovedbytheKing:"Loved by the King";
$LoversQuarrel:"Lovers Quarrel";
$LuckiestGuy:"Luckiest Guy";
$Lusitana:"Lusitana";
$Lustria:"Lustria";
$MPLU1p:"M PLUS 1p";
$MPLUSRounded1c:"M PLUS Rounded 1c";
$MaShanZheng:"Ma Shan Zheng";
$Macondo:"Macondo";
$MacondoSwashCaps:"Macondo Swash Caps";
$Mada:"Mada";
$Magra:"Magra";
$MaidenOrange:"Maiden Orange";
$Maitree:"Maitree";
$MajorMonoDisplay:"Major Mono Display";
$Mako:"Mako";
$Mali:"Mali";
$Mallanna:"Mallanna";
$Mandali:"Mandali";
$Manjari:"Manjari";
$Mansalva:"Mansalva";
$Manuale:"Manuale";
$Marcellus:"Marcellus";
$MarcellusSC:"Marcellus SC";
$MarckScript:"Marck Script";
$Margarine:"Margarine";
$MarkaziText:"Markazi Text";
$MarkoOne:"Marko One";
$Marmelad:"Marmelad";
$Martel:"Martel";
$MartelSans:"Martel Sans";
$Marvel:"Marvel";
$Mate:"Mate";
$MateSC:"Mate SC";
$MavenPro:"Maven Pro";
$McLaren:"McLaren";
$Meddon:"Meddon";
$MedievalSharp:"MedievalSharp";
$MedulaOne:"Medula One";
$MeeraInimai:"Meera Inimai";
$Megrim:"Megrim";
$MeieScript:"Meie Script";
$Merienda:"Merienda";
$MeriendaOne:"Merienda One";
$Merriweather:"Merriweather";
$MerriweatherSans:"Merriweather Sans";
$Metal:"Metal";
$MetalMania:"Metal Mania";
$Metamorphous:"Metamorphous";
$Metrophobic:"Metrophobic";
$Michroma:"Michroma";
$Milonga:"Milonga";
$Miltonian:"Miltonian";
$MiltonianTattoo:"Miltonian Tattoo";
$Mina:"Mina";
$Miniver:"Miniver";
$MiriamLibre:"Miriam Libre";
$Mirza:"Mirza";
$MissFajardose:"Miss Fajardose";
$Mitr:"Mitr";
$Modak:"Modak";
$ModernAntiqua:"Modern Antiqua";
$Mogra:"Mogra";
$Molengo:"Molengo";
$Molle:"Molle";
$Monda:"Monda";
$Monofett:"Monofett";
$Monoton:"Monoton";
$MonsieurLaDoulaise:"Monsieur La Doulaise";
$Montaga:"Montaga";
$Montez:"Montez";
$Montserrat:"Montserrat";
$MontserratAlternates:"Montserrat Alternates";
$MontserratSubrayada:"Montserrat Subrayada";
$Moul:"Moul";
$Moulpali:"Moulpali";
$MountainsofChristmas:"Mountains of Christmas";
$MouseMemoirs:"Mouse Memoirs";
$MrBedfort:"Mr Bedfort";
$MrDafoe:"Mr Dafoe";
$MrDeHaviland:"Mr De Haviland";
$MrsSaintDelafield:"Mrs Saint Delafield";
$MrsSheppards:"Mrs Sheppards";
$Mukta:"Mukta";
$MuktaMahee:"Mukta Mahee";
$MuktaMalar:"Mukta Malar";
$MuktaVaani:"Mukta Vaani";
$Muli:"Muli";
$MysteryQuest:"Mystery Quest";
$NTR:"NTR";
$NanumBrushScript:"Nanum Brush Script";
$NanumGothic:"Nanum Gothic";
$NanumGothicCoding:"Nanum Gothic Coding";
$NanumMyeongjo:"Nanum Myeongjo";
$NanumPenScript:"Nanum Pen Script";
$Neucha:"Neucha";
$Neuton:"Neuton";
$NewRocker:"New Rocker";
$NewsCycle:"News Cycle";
$Niconne:"Niconne";
$Niramit:"Niramit";
$NixieOne:"Nixie One";
$Nobile:"Nobile";
$Nokora:"Nokora";
$Norican:"Norican";
$Nosifer:"Nosifer";
$Notable:"Notable";
$NothingYouCouldDo:"Nothing You Could Do";
$NoticiaText:"Noticia Text";
$NotoSans:"Noto Sans";
$NotoSansHK:"Noto Sans HK";
$NotoSansJP:"Noto Sans JP";
$NotoSansKR:"Noto Sans KR";
$NotoSansSC:"Noto Sans SC";
$NotoSansTC:"Noto Sans TC";
$NotoSerif:"Noto Serif";
$NotoSerifJP:"Noto Serif JP";
$NotoSerifKR:"Noto Serif KR";
$NotoSerifSC:"Noto Serif SC";
$NotoSerifTC:"Noto Serif TC";
$NovaCut:"Nova Cut";
$NovaFlat:"Nova Flat";
$NovaMono:"Nova Mono";
$NovaOval:"Nova Oval";
$NovaRound:"Nova Round";
$NovaScript:"Nova Script";
$NovaSlim:"Nova Slim";
$NovaSquare:"Nova Square";
$Numans:"Numans";
$Nunito:"Nunito";
$NunitoSans:"Nunito Sans";
$OdorMeanChey:"Odor Mean Chey";
$Offside:"Offside";
$OldStandardTT:"Old Standard TT";
$Oldenburg:"Oldenburg";
$OleoScript:"Oleo Script";
$OleoScriptSwashCaps:"Oleo Script Swash Caps";
$OpenSans:"Open Sans";
$OpenSansCondensed:"Open Sans Condensed";
$Oranienbaum:"Oranienbaum";
$Orbitron:"Orbitron";
$Oregano:"Oregano";
$Orienta:"Orienta";
$OriginalSurfer:"Original Surfer";
$Oswald:"Oswald";
$OvertheRainbow:"Over the Rainbow";
$Overlock:"Overlock";
$OverlockSC:"Overlock SC";
$Overpass:"Overpass";
$OverpassMono:"Overpass Mono";
$Ovo:"Ovo";
$Oxygen:"Oxygen";
$OxygenMono:"Oxygen Mono";
$PTMono:"PT Mono";
$PTSans:"PT Sans";
$PTSansCaption:"PT Sans Caption";
$PTSansNarrow:"PT Sans Narrow";
$PTSerif:"PT Serif";
$PTSerifCaption:"PT Serif Caption";
$Pacifico:"Pacifico";
$Padauk:"Padauk";
$Palanquin:"Palanquin";
$PalanquinDark:"Palanquin Dark";
$Pangolin:"Pangolin";
$Paprika:"Paprika";
$Parisienne:"Parisienne";
$PasseroOne:"Passero One";
$PassionOne:"Passion One";
$PathwayGothicOne:"Pathway Gothic One";
$PatrickHand:"Patrick Hand";
$PatrickHandSC:"Patrick Hand SC";
$Pattaya:"Pattaya";
$PatuaOne:"Patua One";
$Pavanam:"Pavanam";
$PaytoneOne:"Paytone One";
$Peddana:"Peddana";
$Peralta:"Peralta";
$PermanentMarker:"Permanent Marker";
$PetitFormalScript:"Petit Formal Script";
$Petrona:"Petrona";
$Philosopher:"Philosopher";
$Piedra:"Piedra";
$PinyonScript:"Pinyon Script";
$PirataOne:"Pirata One";
$Plaster:"Plaster";
$Play:"Play";
$Playball:"Playball";
$PlayfairDisplay:"Playfair Display";
$PlayfairDisplaySC:"Playfair Display SC";
$Podkova:"Podkova";
$PoiretOne:"Poiret One";
$PollerOne:"Poller One";
$Poly:"Poly";
$Pompiere:"Pompiere";
$PontanoSans:"Pontano Sans";
$PoorStory:"Poor Story";
$Poppins:"Poppins";
$PortLligatSans:"Port Lligat Sans";
$PortLligatSlab:"Port Lligat Slab";
$PragatiNarrow:"Pragati Narrow";
$Prata:"Prata";
$Preahvihear:"Preahvihear";
$PressStart2P:"Press Start 2P";
$Pridi:"Pridi";
$PrincessSofia:"Princess Sofia";
$Prociono:"Prociono";
$Prompt:"Prompt";
$ProstoOne:"Prosto One";
$ProzaLibre:"Proza Libre";
$Puritan:"Puritan";
$PurplePurse:"Purple Purse";
$Quando:"Quando";
$Quantico:"Quantico";
$Quattrocento:"Quattrocento";
$QuattrocentoSans:"Quattrocento Sans";
$Questrial:"Questrial";
$Quicksand:"Quicksand";
$Quintessential:"Quintessential";
$Qwigley:"Qwigley";
$RacingSansOne:"Racing Sans One";
$Radley:"Radley";
$Rajdhani:"Rajdhani";
$Rakkas:"Rakkas";
$Raleway:"Raleway";
$RalewayDots:"Raleway Dots";
$Ramabhadra:"Ramabhadra";
$Ramaraja:"Ramaraja";
$Rambla:"Rambla";
$RammettoOne:"Rammetto One";
$Ranchers:"Ranchers";
$Rancho:"Rancho";
$Ranga:"Ranga";
$Rasa:"Rasa";
$Rationale:"Rationale";
$RaviPrakash:"Ravi Prakash";
$RedHatDisplay:"Red Hat Display";
$RedHatText:"Red Hat Text";
$Redressed:"Redressed";
$ReemKufi:"Reem Kufi";
$ReenieBeanie:"Reenie Beanie";
$Revalia:"Revalia";
$RhodiumLibre:"Rhodium Libre";
$Ribeye:"Ribeye";
$RibeyeMarrow:"Ribeye Marrow";
$Righteous:"Righteous";
$Risque:"Risque";
$Roboto:"Roboto";
$RobotoCondensed:"Roboto Condensed";
$RobotoMono:"Roboto Mono";
$RobotoSlab:"Roboto Slab";
$Rochester:"Rochester";
$RockSalt:"Rock Salt";
$Rokkitt:"Rokkitt";
$Romanesco:"Romanesco";
$RopaSans:"Ropa Sans";
$Rosario:"Rosario";
$Rosarivo:"Rosarivo";
$RougeScript:"Rouge Script";
$RozhaOne:"Rozha One";
$Rubik:"Rubik";
$RubikMonoOne:"Rubik Mono One";
$Ruda:"Ruda";
$Rufina:"Rufina";
$RugeBoogie:"Ruge Boogie";
$Ruluko:"Ruluko";
$RumRaisin:"Rum Raisin";
$RuslanDisplay:"Ruslan Display";
$RussoOne:"Russo One";
$Ruthie:"Ruthie";
$Rye:"Rye";
$Sacramento:"Sacramento";
$Sahitya:"Sahitya";
$Sail:"Sail";
$Saira:"Saira";
$SairaCondensed:"Saira Condensed";
$SairaExtraCondensed:"Saira Extra Condensed";
$SairaSemiCondensed:"Saira Semi Condensed";
$SairaStencilOne:"Saira Stencil One";
$Salsa:"Salsa";
$Sanchez:"Sanchez";
$Sancreek:"Sancreek";
$Sansita:"Sansita";
$Sarabun:"Sarabun";
$Sarala:"Sarala";
$Sarina:"Sarina";
$Sarpanch:"Sarpanch";
$Satisfy:"Satisfy";
$SawarabiGothic:"Sawarabi Gothic";
$SawarabiMincho:"Sawarabi Mincho";
$Scada:"Scada";
$Scheherazade:"Scheherazade";
$Schoolbell:"Schoolbell";
$ScopeOne:"Scope One";
$SeaweedScript:"Seaweed Script";
$SecularOne:"Secular One";
$SedgwickAve:"Sedgwick Ave";
$SedgwickAveDisplay:"Sedgwick Ave Display";
$Sevillana:"Sevillana";
$SeymourOne:"Seymour One";
$ShadowsIntoLight:"Shadows Into Light";
$ShadowsIntoLightTwo:"Shadows Into Light Two";
$Shanti:"Shanti";
$Share:"Share";
$ShareTech:"Share Tech";
$ShareTechMono:"Share Tech Mono";
$Shojumaru:"Shojumaru";
$ShortStack:"Short Stack";
$Shrikhand:"Shrikhand";
$Siemreap:"Siemreap";
$SigmarOne:"Sigmar One";
$Signika:"Signika";
$SignikaNegative:"Signika Negative";
$Simonetta:"Simonetta";
$SingleDay:"Single Day";
$Sintony:"Sintony";
$SirinStencil:"Sirin Stencil";
$SixCaps:"Six Caps";
$Skranji:"Skranji";
$Slabo13px:"Slabo 13px";
$Slabo27px:"Slabo 27px";
$Slackey:"Slackey";
$Smokum:"Smokum";
$Smythe:"Smythe";
$Sniglet:"Sniglet";
$Snippet:"Snippet";
$SnowburstOne:"Snowburst One";
$SofadiOne:"Sofadi One";
$Sofia:"Sofia";
$SongMyung:"Song Myung";
$SonsieOne:"Sonsie One";
$SortsMillGoudy:"Sorts Mill Goudy";
$SourceCodePro:"Source Code Pro";
$SourceSansPro:"Source Sans Pro";
$SourceSerifPro:"Source Serif Pro";
$SpaceMono:"Space Mono";
$SpecialElite:"Special Elite";
$Spectral:"Spectral";
$SpectralSC:"Spectral SC";
$SpicyRice:"Spicy Rice";
$Spinnaker:"Spinnaker";
$Spirax:"Spirax";
$SquadaOne:"Squada One";
$SreeKrushnadevaraya:"Sree Krushnadevaraya";
$Sriracha:"Sriracha";
$Srisakdi:"Srisakdi";
$Staatliches:"Staatliches";
$Stalemate:"Stalemate";
$StalinistOne:"Stalinist One";
$StardosStencil:"Stardos Stencil";
$StintUltraCondensed:"Stint Ultra Condensed";
$StintUltraExpanded:"Stint Ultra Expanded";
$Stoke:"Stoke";
$Strait:"Strait";
$Stylish:"Stylish";
$SueEllenFrancisco:"Sue Ellen Francisco";
$SuezOne:"Suez One";
$Sumana:"Sumana";
$Sunflower:"Sunflower";
$Sunshiney:"Sunshiney";
$SupermercadoOne:"Supermercado One";
$Sura:"Sura";
$Suranna:"Suranna";
$Suravaram:"Suravaram";
$Suwannaphum:"Suwannaphum";
$SwankyandMooMoo:"Swanky and Moo Moo";
$Syncopate:"Syncopate";
$Tajawal:"Tajawal";
$Tangerine:"Tangerine";
$Taprom:"Taprom";
$Tauri:"Tauri";
$Taviraj:"Taviraj";
$Teko:"Teko";
$Telex:"Telex";
$TenaliRamakrishna:"Tenali Ramakrishna";
$TenorSans:"Tenor Sans";
$TextMeOne:"Text Me One";
$Thasadith:"Thasadith";
$TheGirlNextDoor:"The Girl Next Door";
$Tienne:"Tienne";
$Tillana:"Tillana";
$Timmana:"Timmana";
$Tinos:"Tinos";
$TitanOne:"Titan One";
$TitilliumWeb:"Titillium Web";
$TradeWinds:"Trade Winds";
$Trirong:"Trirong";
$Trocchi:"Trocchi";
$Trochut:"Trochut";
$Trykker:"Trykker";
$TulpenOne:"Tulpen One";
$TurretRoad:"Turret Road";
$Ubuntu:"Ubuntu";
$UbuntuCondensed:"Ubuntu Condensed";
$UbuntuMono:"Ubuntu Mono";
$Ultra:"Ultra";
$UncialAntiqua:"Uncial Antiqua";
$Underdog:"Underdog";
$UnicaOne:"Unica One";
$UnifrakturCook:"UnifrakturCook";
$UnifrakturMaguntia:"UnifrakturMaguntia";
$Unkempt:"Unkempt";
$Unlock:"Unlock";
$Unna:"Unna";
$VT323:"VT323";
$VampiroOne:"Vampiro One";
$Varela:"Varela";
$VarelaRound:"Varela Round";
$VastShadow:"Vast Shadow";
$VesperLibre:"Vesper Libre";
$Vibes:"Vibes";
$Vibur:"Vibur";
$Vidaloka:"Vidaloka";
$Viga:"Viga";
$Voces:"Voces";
$Volkhov:"Volkhov";
$Vollkorn:"Vollkorn";
$VollkornSC:"Vollkorn SC";
$Voltaire:"Voltaire";
$WaitingfortheSunrise:"Waiting for the Sunrise";
$Wallpoet:"Wallpoet";
$WalterTurncoat:"Walter Turncoat";
$Warnes:"Warnes";
$Wellfleet:"Wellfleet";
$WendyOne:"Wendy One";
$WireOne:"Wire One";
$WorkSans:"Work Sans";
$YanoneKaffeesatz:"Yanone Kaffeesatz";
$Yantramanav:"Yantramanav";
$YatraOne:"Yatra One";
$Yellowtail:"Yellowtail";
$YeonSung:"Yeon Sung";
$YesevaOne:"Yeseva One";
$Yesteryear:"Yesteryear";
$Yrsa:"Yrsa";
$ZCOOLKuaiLe:"ZCOOL KuaiLe";
$ZCOOLQingKeHuangYou:"ZCOOL QingKe HuangYou";
$ZCOOLXiaoWei:"ZCOOL XiaoWei";
$Zeyada:"Zeyada";
$ZhiMangXing:"Zhi Mang Xing";
$ZillaSlab:"Zilla Slab";
$ZillaSlabHighlight:"Zilla Slab Highlight";
//Sans-Serif Fonts
//font-family	Example text
//Arial, Helvetica, sans-serif
//This is a heading
//This is a paragraph
//
//"Arial Black", Gadget, sans-serif
//This is a heading
//This is a paragraph
//
//"Comic Sans MS", cursive, sans-serif
//This is a heading
//This is a paragraph
//
//Impact, Charcoal, sans-serif
//This is a heading
//This is a paragraph
//
//"Lucida Sans Unicode", "Lucida Grande", sans-serif
//                                        This is a heading
//                                        This is a paragraph
//
//                                        Tahoma, Geneva, sans-serif
//This is a heading
//This is a paragraph
//
//"Trebuchet MS", Helvetica, sans-serif
//This is a heading
//This is a paragraph
//
//Verdana, Geneva, sans-serif
//This is a heading
//This is a paragraph
//
//Monospace Fonts
//font-family	Example text
//"Courier New", Courier, monospace
//This is a heading
//This is a paragraph
//
//"Lucida Console", Monaco, monospace
